{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
<div class="home-container">
    <h1 class="main-title">Settings</h1>
    <h2 class="balance-title">Add API key</h2>
    <div class="container mt-5">
    <h1 class="mb-4">Payment Form</h1>
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.key) }}
            {{ form_widget(form.key) }}
        </div>
        <div class="form-group">
            {{ form_label(form.role) }}
            {{ form_widget(form.role) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit) }}
        </div>
    {{ form_end(form) }}
    
   </div>
   
   <h2 class="balance-title">Existing API Keys</h2>
    <div class="container mt-5">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Key</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for apiKey in api_keys %}
                <tr>
                    <td>{{ apiKey.id }}</td>
                    <td>{{ apiKey.apikey }}</td>
                    <td>
                        <form method="post" action="{{ path('settings_api_keys_delete', {'id': apiKey.id}) }}" onsubmit="return confirm('Are you sure you want to delete this key?');">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
   </div>
</div>
{% endblock %}

